<div class="text-center p-5 m-5"><h2>Our Productes</h2></div>

<!-- <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let product of products">
      <img [src]="product.img" class="d-block w-50" [alt]="product.name">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active"  *ngFor="let product of products">
      <img [src]="product.img" class="d-block w-100" [alt]="product.name">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{product.name}}</h5>
        <p>{{product.description}}</p>
      </div>
    </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p><input type="text" ng-model="test"></p> -->
<div class="m-auto">
  <button (click)="filter(0)" class="btn btn-secondary">All</button>
  <button *ngFor="let cat of categories" (click)="filter(cat.id)"  class="btn btn-secondary">{{cat.name}}</button>
  <!-- <button (click)="filter(2)" >phones</button> -->
</div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    
    <div class="col"  *ngFor="let product of productsShow">
        <div class="card">
        <img [src]="product.img" class="card-img-top" [alt]="product.name">
        <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <h4 class="card-title">{{product.price|currency}}</h4>
            <h4 class="card-title" [ngStyle]="{
            color: product.quantityAvailable == 0?'red': product.quantityAvailable == 1? 'orange':'green' }">
            {{product.quantityAvailable == 0?'Not available':product.quantityAvailable == 1? 'only one available':'Quantity: '+product.quantityAvailable}}</h4>
            <button (click)="addToCart(product.id,1)" [disabled]="product.quantityAvailable == 0" class="btn" [ngClass]="{'btn-danger':product.quantityAvailable == 0,'btn-warning':product.quantityAvailable == 1,'btn-success':product.quantityAvailable>1,}">BUY</button>
<!--             
            <i
            [routerLink]="['/products', product.id]"
            class="fs-3 mx-2 text-warning bi bi-eye-fill"
          ></i> -->
        </div>
        </div>
    </div>
  </div>

<!-- <div class="text-center p-5 m-5"><h2>Our Productes</h2></div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col"  *ngFor="let product of products">
        <div class="card">
            <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h5 class="card-title">{{product.price}}</h5>
              <h6 class="card-title" [ngStyle]="{
                color: product.quantity == 0?'red': product.quantity == 1? 'orange':'green' }">
                {{product.quantity == 0?'Not available':product.quantity == 1? 'only one available':'Quantity: '+product.quantity}}</h6>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
            </div>
          </div>
    </div>
  </div> -->

  